<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <li *ngFor="let categoria of menu">
          <a class="has-arrow waves-effect waves-dark" aria-expanded="false"
            ><i class="{{ categoria.icono }}"></i
            ><span class="hide-menu">{{ categoria.nombre }}</span></a
          >
          <ul aria-expanded="false" class="collapse">
            <li *ngFor="let subcategoria of categoria.subCategorias">
              <a
                routerLink="{{ subcategoria.path }}"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >{{ subcategoria.nombre }}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
