<div class="row animated fadeIn">
  <div class="col-12 col-md-6">
    <div class="card">
      <div class="card-body">
        <h4>
          Equipos
          <span class="badge badge-pill badge-success"
            ><small>Online</small></span
          >
        </h4>

        <div class="form-group">
          <label>Archivo <b>equipos.mdb</b></label>
          <input
            type="file"
            class="form-control"
            id="exampleInputFile"
            aria-describedby="fileHelp"
          />
        </div>
        <button type="button" class="btn waves-effect waves-light btn-info">
          Cargar
        </button>
        &nbsp;
        <button type="button" class="btn waves-effect waves-light btn-danger">
          Borrar BBDD
        </button>
      </div>
    </div>
  </div>
</div>
