<div class="row">
  <div class="col-4">
    <div class="card">
      <div class="card-body">
        <h4>
          Equipos
          <span class="badge badge-pill badge-success"
            ><small>Online</small></span
          >
        </h4>
        <hr />
        <div class="form-group">
          <label>Archivo equipos.mdb</label>
          <input
            type="file"
            class="form-control"
            id="exampleInputFile"
            aria-describedby="fileHelp"
          />
        </div>
        <button type="button" class="btn waves-effect waves-light btn-info">
          Cargar
        </button>
        &nbsp;
        <button type="button" class="btn waves-effect waves-light btn-danger">
          Borrar BBDD
        </button>
      </div>
    </div>
  </div>
</div>
